*** Your payment has been refunded ***

We have processed a refund in the amount of {{TODO}}.

This refund will appear on your next credit card statement in approximately 3-5 business days.

If you have any questions about your account, please reply to this email or contact {{text.merchantName}} Support at: {{text.merchantContactPhone}}
