This email is to confirm your recent subscription cancellation. Your subscription will remain active until {{subscription.chargedThroughDate}}.

Here are the details of the subscription you canceled:

Description: {{subscription.lastActivePlan.name}}
Expires at:  {{subscription.chargedThroughDate}}

At the end of your subscription, your {{text.merchantName}} account will be disabled and you will not be able to access {{text.merchantName}} on your iPad.

We're sorry to see you go.  If you have any questions or if you have received this message in error, please reply to this email or contact {{text.merchantName}} Support at {{text.merchantContactPhone}}.

To reactivate your subscription before it expires, or to view previous invoices, please see your account at: {{text.subscriptionLink}}

If you have any questions about your account, please reply to this email or contact {{text.merchantName}} Support at: {{text.merchantContactPhone}}