Your Personal subscription to {{text.merchantName}} was canceled earlier and has now ended. Your access to {{text.merchantName}} on your iPad will end shortly.

We're sorry to see you go.  To reactivate your {{text.merchantName}} service, contact the Support Team at {{text.merchantContactPhone}}.

If you have any questions about your account, please reply to this email or contact {{text.merchantName}} Support at: {{text.merchantContactPhone}}