This email confirms your recent payment.

Here are the details of your payment:

{{text.invoiceNumber}}: {{invoice.invoiceNumber}}
{{text.paymentDate}}: {{invoice.invoiceDate}}

{{#invoice.invoiceItems}}
{{startDate}} {{planName}} : {{formattedAmount}}
{{/invoice.invoiceItems}}

{{text.invoiceAmountPaid}}:  {{invoice.formattedPaidAmount}}
{{text.invoiceAmountTotal}}: {{invoice.formattedBalance}}

{{text.billedTo}}:
{{account.companyName}}
{{account.name}}
{{account.address1}}
{{account.city}}, {{account.stateOrProvince}} {{account.postalCode}}
{{account.country}}

If you have any questions about your account, please reply to this email or contact {{text.merchantName}} Support at: {{text.merchantContactPhone}}