 --text-color: {{brand.textColor}};
 --table-heading-bg-color: {{brand.tableHeadingBgColor}};
 --table-heading-text-color: {{brand.tableHeadingTextColor}};
 --container-border-color: #dddddd;
 --table-border-color: {{brand.tableBorderColor}};
 --logo-max-width: 220px;